apiVersion: apps/v1
kind: Deployment
metadata:
  name: secure-boot
  namespace: devops-challenge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: secure-boot
  template:
    metadata:
      labels:
        app: secure-boot
    spec:
      containers:
        - name: secure-boot
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent  
          ports:
            - containerPort: 80

          resources:
            limits:
              memory: "128Mi"
            requests:
              memory: "64Mi"

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - NET_BIND_SERVICE

          volumeMounts:
            - name: tmp
              mountPath: /tmp

      volumes:
        - name: tmp
          emptyDir: {}

